


<main class="help-box">
    <section class="font-104 help-content">

        <h3 lang="FA"> افزودن کاور به فرم</h3>
        <pre class="code-sample">
            <code><span class="token class-color">.form-cover</span><span class="token class-color">.large-mode</span><span class="token class-color">.subject-editor</span></code>
        </pre>

        <h4 lang="Fa"> تم های رنگی برای کاور</h4>
        <pre class="code-sample">
            <span class="token class-color">.gray-theme</span>
            <span class="token class-color">.green-theme</span>
            <span class="token class-color">.purple-theme</span>
        </pre>
        <h4 lang="Fa"> کشیدن خط دور</h4>
        <pre class="code-sample">
            <span class="token class-color">.border-box</span>
        </pre>

        <h3 lang="FA"> نمونه فرم به همراه عنوان</h3>

        <pre class="code-sample">
            <code><span class="token field-color"> form </span><span class="token id-color">#form-model</span><span class="token equal-color"><span class="token eq-key-word">method</span>=<span class="token eq-key-word">post</span></span> Form Title </code>
        </pre>

        <h3 lang="FA">جدا کننده محتوا</h3>

        <h4 lang="FA">محتوای متنی</h4>

        <pre class="code-sample">
            <code><span class="token class-color">.form-content</span> </code>
        </pre>

        <h4 lang="FA">محتوای رویداد ها</h4>

        <pre class="code-sample">
            <code><span class="token class-color">.action-box</span></code>
        </pre>

        <h3 lang="FA"> تگ های درون فرم </h3>
        <h4 lang="FA">فیلد انتخاب به همراه گزینه های آن</h4>

        <pre class="code-sample">
            <code><span class="token field-color"> select </span><span class="token id-color">#select-input-model</span> Mode </code>
            <code>    <span class="token tag-color"> option </span><span class="token equal-color"><span class="token eq-key-word">value</span>=<span class="token eq-key-word">value-1</span></span> Option One </code>
            <code>    <span class="token tag-color"> option </span><span class="token equal-color"><span class="token eq-key-word">value</span>=<span class="token eq-key-word">value-2</span></span> Option Two</code>
            <code>    <span class="token tag-color"> option </span><span class="token equal-color"><span class="token eq-key-word">value</span>=<span class="token eq-key-word">value-3</span></span> Option Three</code>
        </pre>

        <h4 lang="FA">فیلد متن</h4>
        <pre class="code-sample">
            <code><span class="token tag-color"> label </span><span class="token class-color">.dark-theme</span> Inline Input</code>
            <code>    <span class="token field-color"> input </span><span class="token id-color">#input-model-single-line-text</span></code>
        </pre>
        <h4 lang="FA">فیلد متن چند خطی</h4>
        <pre class="code-sample">
            <code><span class="token tag-color"> label </span><span class="token class-color">.block-mode</span><span class="token class-color">.dark-theme</span> Block Input</code>
            <code>    <span class="token field-color"> textarea </span><span class="token id-color">#input-model-multi-line-text</span></code>
        </pre>

        <h3 lang="FA">دکمه ها</h3>

        <h4 lang="FA">دکمه پیش فرض</h4>

        <pre class="code-sample">
            <code><span class="token tag-color"> button </span><span class="token class-color">.icon-btn</span> Default Button</code>
            <code><span class="token list punctuation"> + </span><span class="token equal-color"><span class="token eq-key-word">data-icon</span>="<span class="token eq-key-word">icon-export</span>"</span></code>
        </pre>

        <h4 lang="FA">دکمه اکشن</h4>

        <pre class="code-sample">
            <code><span class="token tag-color"> button </span><span class="token class-color">.icon-btn</span><span class="token class-color">.btn-action</span> Action Button</code>
            <code><span class="token list punctuation"> + </span><span class="token equal-color"><span class="token eq-key-word">data-icon</span>="<span class="token eq-key-word">icon-disk</span>"</span></code>
         </pre>

    </section>
</main>

<style>
    .help-box {
        width: 100%;
        display: block;
    }

    .help-content {
        display: block;
        margin: 50px auto 100px auto;
        max-width: 1024px;
    }

    .code-sample{
        background-color: #121212;
        margin: 0;
        padding: 20px 10px 0 10px;
        max-width: 600px;
    }
    h4{
        margin-bottom: 0;
    }
</style>

