<h1>Type Script For Client</h1>
<output-page> 
    <h3 class="output-header"> Api Declaration : </h3>
    <section class="type-box" style="color: lightgreen;"></section>
    <h3 class="output-header"> From Handler : </h3>
    <section id="export-ts-form-handler" class="type-box" style="color: lightblue;"></section>
    <h3 class="output-header"> Form Provider : </h3>
    <section id="export-ts-form-provider" class="report-box" data-function="clear"></section>
    <h3 class="output-header"> Form Usage : </h3>
    <section id="export-ts-form-usage" class="report-box" data-function="clear"></section>
</output-page>