<aside id="html-preview">
    <article class="output-page">
        <h1>Html Preview</h1>
        <h3 class="output-header"> Html Mobile Preview : </h3>
        <iframe class="preview-box" src="./form-handler-test-environment.html"
            onload="this.setAttribute('data-loaded' , 'true')">
        </iframe>
        <h3 class="output-header"> Html Data : </h3>
        <section class="report-box" data-function="clear"></section>
    </article>
</aside>


<style>
    iframe{
        transition: 0.5s;
    }
</style>